{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "function-paren-newline": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0
  }
}
