.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  transition: 0.2s ease-in-out;
  transform: scale(0);

  opacity: 0;
  border-radius: 50%;
  background-color: #000;
  &:hover {
    opacity: 1;
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: translateY(25%) rotateZ(45deg);
    transition: 0.2s ease-out;
  }
}

.to-top--showed {
  transform: scale(1);

  opacity: 0.8;
}

.to-top--to-bottom {
  &::after {
    transform: rotateZ(225deg);
  }
}
