.image-tile {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  height: 200px;
  height: calc(150px + 5vh);
  min-height: calc(150px + 5vh);
  padding: $tile-padding;
  padding-bottom: 0;
  padding-left: 0;

  cursor: pointer;
  transition: 0.2s ease-out;
  transform: scale(0);

  opacity: 0;
  outline: none;
  &_loaded {
    transform: scale(1);

    opacity: 1;
  }
  &::after {
    position: absolute;
    top: $tile-padding;
    right: $tile-padding;
    bottom: 0;
    left: 0;

    content: '';
    transition: 0.1s ease;

    opacity: 0;
    background-color: #000;

    will-change: opacity;
  }
  &:hover,
  &:focus {
    @media not all and (pointer: coarse) {
      &::after {
        visibility: visible;

        opacity: 0.3;
      }
    }
  }
  &__image {
    display: block;
    flex-grow: 1;

    min-width: 100%;
    max-width: 100%;
    height: inherit;

    object-fit: cover;
  }
  @media screen and (max-width: $bp_portrait_mobile) and (orientation: portrait) {
    flex-basis: 100%;

    height: auto;
  }
}
