$hover-animation: 0.1s ease-out;

.image-tile {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  height: 200px;
  margin: $tile-padding;
  margin-bottom: 0;
  margin-left: 0;

  cursor: pointer;

  outline: none;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    transition: $hover-animation;

    opacity: 0;
    background-color: #000;
  }
  &:hover,
  &:focus {
    @media not all and (pointer: coarse) {
      &::after {
        visibility: visible;

        opacity: 0.3;
      }
    }
  }
  &__image {
    flex-grow: 1;

    min-width: 100%;
    max-width: 100%;
    height: inherit;

    object-fit: cover;
  }
  &__description {
    font-size: 0.9rem;
    line-height: 1.1rem;
    padding: 5px;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transform-origin: 100% 100%;
    transition: $hover-animation;
  }
  &:hover,
  &:focus {
    .image-tile__description {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @media (pointer: coarse) {
    .image-tile__description {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  &__link {
    color: #bbb;
    &:hover {
      text-decoration: none;
    }
  }
}
