$bp_portrait_mobile: 480px;
$bp_landscape_mobile: 768px;

.image-tile {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  min-height: calc(200px + 5vh);
  height: calc(200px + 5vh);
  margin: $tile-padding;
  margin-bottom: 0;
  margin-left: 0;

  cursor: pointer;

  outline: none;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    transition: 0.1s ease;

    opacity: 0;
    background-color: #000;
  }
  &:hover,
  &:focus {
    @media not all and (pointer: coarse) {
      &::after {
        visibility: visible;

        opacity: 0.3;
      }
    }
  }
  &__image {
    display: block;
    flex-grow: 1;

    min-width: 100%;
    max-width: 100%;
    height: inherit;

    object-fit: cover;
  }
  @media screen and (max-width: $bp_portrait_mobile) and (orientation: portrait) {
    flex-basis: 100%;

    height: auto;
  }
}
