.images-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

.images-container::after {
  content: '';
  flex-grow: 999999;
}

.image-container {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 150px;
  padding: 5px;
  padding-bottom: 0;
}

.image {
  display: block;
  max-height: 150px;
}
