.images-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 150px;
}

.image {
  display: block;
  max-height: 150px;
}
